
@import url('https://fonts.googleapis.com/css2?family=Bitcount+Single+Ink:wght@100..900&display=swap');

img {
    width: 400px;
}
body {
    text-align: center;
    font-family: 'Bitcount Single Ink';
    background: blanchedalmond;
    color: sienna;
}
body {
    padding-bottom: 60px;
}

footer{
    position: fixed;
    bottom: 0; 
    width: 100%;
    padding: 5px 5px;
    background: black;
    color: #f1f1f1;
    font-size: 12px;
}
.header{
    position: sticky;
    top: 0;
    padding: 10px 16px;
    background: black;
    color: #f1f1f1;
    font-size: 24px;
}
button{
    background-color: lightslategray; /* Change this to your desired color */
    color: white; /* Text color */
    border: none; /* Remove border */
    padding: 10px 20px; /* Button padding */
    font-size: 16px; /* Font size */
    font-family: 'Courier New', Courier, monospace; /* Font */
}
#myButton:hover {
    background-color: black;
    color: white;
}




